---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   Tôi là sinh viên năm 2 ngành Quản trị Kinh doanh tại Đại học Ngoại thương. Tôi quan tâm đến Tài chính và Phân tích dữ liệu, đặc biệt là cách dữ liệu hỗ trợ ra quyết định trong doanh nghiệp.
  Tôi có tư duy logic, khả năng trình bày rõ ràng và tinh thần học hỏi cao thông qua các hoạt động học thuật và tổ chức sinh viên.
  Mục tiêu của tôi là xây dựng nền tảng vững chắc về phân tích tài chính và chiến lược kinh doanh.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ngành: Quản trị Kinh doanh"
      subtitle=" Định hướng: Tài chính – Phân tích dữ liệu" 
    />
    <TimeLineElement
      title="2024 – Hiện tại"
      subtitle="Đại học Ngoại thương – Hà Nội, Việt Nam"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Kinh nghiệm</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Thành viên Ban Dự Án tại FBA ELite - Hội sinh viên tài năng Khoa Quản trị Kinh doanh"
      subtitle="2024-2025 tại 91 Chùa Láng, Hà Nội"
    >
Tham gia tổ chức các sự kiện học thuật và phát triển kỹ năng cho sinh viên.

Phối hợp cùng các thành viên trong việc lên kế hoạch và triển khai chương trình.

Phát triển kỹ năng làm việc nhóm, quản lý thời gian và giao tiếp.


    </TimeLineElement>
    <TimeLineElement
      title=""
      subtitle=""
    >
      
    </TimeLineElement>
    <TimeLineElement
      title=""
      subtitle=""
    >
      
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
